# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db
